libos.entrypoint = "/middlebox_sgxgo"

loader.log_level = "warning"
loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:/usr/lib/x86_64-linux-gnu"
loader.env.GODEBUG = "netdns=go"
loader.env.GO_SGX_RUNTIME = "1"
loader.insecure__use_cmdline_argv = true
loader.env.OPERATOR_TARGET = { passthrough = true }
loader.env.OPERATOR_CERT_URL = { passthrough = true }
loader.env.MBX_EMIT_QUOTE = { passthrough = true }
loader.env.DCMB_TICKET_IDENTITY_KEY = { passthrough = true }
sys.enable_sigterm_injection = true

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/usr/lib", uri = "file:/usr/lib" },
  { path = "/usr/lib/x86_64-linux-gnu", uri = "file:/usr/lib/x86_64-linux-gnu" },
  { path = "/etc", uri = "file:/etc" },
  { path = "/schemas", uri = "file:schemas" },
  { path = "/home/bonsai/dcmb/certs_external/", uri = "file:/home/bonsai/dcmb/certs_external/" },
  { type = "chroot", path = "/trace", uri = "file:/trace" }
]

sgx.debug = true
sgx.enclave_size = "64M"
sgx.edmm_enable = false
sgx.max_threads = 16
sgx.remote_attestation = "dcap"
sgx.file_check_policy = "allow_all_but_log"

sgx.trusted_files = [
  "file:middlebox_sgxgo",
  "file:schemas/",
  "file:{{ gramine.runtimedir() }}/"
]

sgx.allowed_files = [
  "file:/etc/host.conf",
  "file:/etc/resolv.conf",
  "file:/etc/ssl/certs/ca-certificates.crt",
  "file:/home/bonsai/dcmb/certs_external/",
  "file:/trace/",
  "file:/app/jwks.dat"
]
