libos.entrypoint = "/app/middlebox"

loader.log_level = "debug"
loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:/usr/lib/x86_64-linux-gnu"
loader.env.GODEBUG = "netdns=go"

fs.mounts = [
  # Librerie di sistema
  { path = "/usr/lib", uri = "file:/usr/lib" },
  { path = "/usr/lib/x86_64-linux-gnu", uri = "file:/usr/lib/x86_64-linux-gnu" },

  # Config sistema
  { path = "/etc", uri = "file:/etc" },

  # Certificati
  { path = "/certs", uri = "file:/certs" }
]

# =========================
# SGX CONFIG
# =========================

sgx.debug = true
sgx.enclave_size = "2G"
sgx.edmm_enable = false
sgx.max_threads = 16
sgx.remote_attestation = "none"

# =========================
# TRUSTED FILES (read only)
# =========================

sgx.trusted_files = [
  "file:/app/middlebox"
]

# =========================
# ALLOWED FILES (read and write)
# =========================

sgx.allowed_files = [
  "file:/etc/host.conf",
  "file:/etc/resolv.conf",
  "file:/etc/ssl/certs/ca-certificates.crt",
  "file:/certs/cert.pem",
  "file:/certs/key.pem",
  "file:/app/jwks.dat"
]
